@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#app {
  font-family: "Inter", sans-serif;
  @apply bg-gray-800-spotify;
}

@media only screen and (max-width: 1024px) {
  #app {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.masonry {
  column-count: 2;
  column-gap: 0.5rem;
}

@screen sm {
  .masonry {
    column-count: 3;
  }
}
@screen xl {
  .masonry {
    column-count: 5;
  }
}
@screen 2xl {
  .masonry {
    column-count: 6;
  }
}

.break-inside {
  break-inside: avoid;
}

.fullwidth {
  @apply w-full table table-fixed;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar #content-window::-webkit-scrollbar,
#horizontal-scrollbar::-webkit-scrollbar,
#friends-list::-webkit-scrollbar {
  @apply w-2 h-1;
}
.custom-scrollbar #content-window::-webkit-scrollbar-thumb,
#horizontal-scrollbar::-webkit-scrollbar-thumb,
#friends-list::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-700-spotify;
}

.link {
  @apply text-white hover:underline;
}
.h-title {
  @apply sm:text-2xl text-xl font-semibold text-white;
}
.h-subtitle {
  @apply text-base sm:text-lg font-normal text-gray-400-spotify;
}

.responsive-picture {
  @apply relative sm:static -mt-8 -mx-4 sm:m-0 flex md:flex-row flex-col gap-4 sm:items-center items-start duration-300;
}
.responsive-picture__image {
  @apply flex flex-none;
  @apply rounded-b-2xl sm:rounded-full md:rounded-lg w-full h-half sm:w-40 sm:h-40 md:w-48 md:h-48 duration-300;
  @apply sm:bg-local sm:bg-cover bg-no-repeat bg-top bg-fixed bg-contain;
}
@media only screen and (max-width: 500px) {
  .responsive-picture__image {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 30%
    );
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 30%
    );
  }
}
.responsive-picture__title {
  @apply absolute sm:relative sm:inset-0 bottom-0 m-4 sm:m-0;
}

.default-border {
  @apply border-gray-700-spotify;
}

hr {
  @apply border-gray-700-spotify;
}
